@import url('https://fonts.googleapis.com/css?family=Lato:300');

@media only screen and (min-width: 768px) {

  #content
  {
    margin-bottom: 0;
  }

  div.header-image
  {
    position: relative;

    img
    {
      width: 100%;
      height: auto;
      padding: 0;
    }

    div.header-overlay
    {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1rem;
      width: 64%;
      background: rgba(230,230,230,0.75);

      h1
      {
        font-weight: 300;
        font-size: 4rem;
      }
    }

    + *
    {
      clear: both;
    }
  }

  @supports(display: grid)
  {
    div.button-grid
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 140px;
      grid-gap: 0.5rem;

      div
      {
        background: #00a9e0;
      }

      div:last-child
      {
        grid-column: span 2;
      }
    }
  }

  .slide-overlay-image p {
    font-size: 2rem;
    color: #236192;
  }

  .slide-overlay-message a {
    text-decoration: underline !important;

    &:not(:hover)
    {
      color: white !important;
    }
  }

  .card-component
  {
    margin: 0!important;
  }
}

@media only screen and (max-width: 768px)
{
  div.header-image img
  {
    display: none;
  }
}

.slick-slide.double-slide
{
  .slide-overlay-image
  {
    max-width: 70%;
    left: unset;
    right: 4%;

    .slide-image img
    {
      transition: 0.2s ease-out;
    }

	&:hover
	{
	  .slide-image img
	  {
		filter: brightness(85%);
		-webkit-filter: brightness(85%);
	  }

	  p.slide-point
	  {
		text-decoration: underline;
	  }
	}

	p.slug
	{
	  line-height: 0;
	  margin-bottom: 0;
	  color: #00a9e0;
	  font-size: 1.25rem;
	  text-transform: uppercase;
	  font-weight: 700;
	  padding-top: 0.5rem;
	}

      p.slide-point a
      {
        text-decoration: underline;
      }
    }

    p.slug
    {
      line-height: 0;
      margin-bottom: 0;
      color: #00a9e0;
      font-size: 1.25rem;
      text-transform: uppercase;
      padding-bottom: 0.5rem;
      font-weight: 700;
      padding-top: 0.5rem;
    }

    p.slide-point a
    {
      margin-top: 7px;

      &:hover
      {
        text-decoration: underline;
      }
    }
  }
}

div.button-grid
{
  margin: 0.5rem 0;

  div
  {
    background: #00a9e0;
    padding: 0 1rem;

    &:hover
    {
      background: #236192;
      cursor: pointer;

      a
      {
        text-decoration: underline;
      }
    }

    h2
    {
      color: white;
    }

    a
    {
      color: white;

      &:before
      {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        float: left;
        margin-right: 10px;
        margin-top: 1px;
      }
    }
  }
}

.card-component .card-component-padded {
  padding-top: 0;
  padding-left: 1.5rem;

  p
  {
    line-height: 26px;
    letter-spacing: 0.15px;

    span
    {
      font-size: 20px;

      +br
      {
        line-height: 2;
      }
    }
  }

  a
  {
    background-color: #00a9e0 !important;
    color: #fff !important;
    text-decoration: underline !important;
    padding: 5px 12px;
    letter-spacing: 0.25px;
    margin-top: 15px !important;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;

    &:before
    {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      float: left;
      margin-right: 10px;
      margin-top: 4px;
    }
  }
}