@import url('https://fonts.googleapis.com/css?family=Lato:300');

@media only screen and (min-width: 768px)
{

  #content
  {
    margin-bottom: 0;
  }

  div.header-image
  {
    position: relative;

    img
    {
      width: 100%;
      height: auto;
      padding: 0;
    }

    div.header-overlay
    {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1rem;
      width: 64%;
      background: rgba(230,230,230,0.75);

      h1
      {
        font-weight: 300;
        font-size: 4rem;
      }
    }

    + *
    {
      clear: both;
    }
  }

  @supports(display: grid)
  {
    div.button-grid
    {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 140px;
      grid-gap: 0.5rem;

      div
      {
        background: #00a9e0;
      }

      div:last-child
      {
        grid-column: span 2;
      }
    }
  }

  @media only screen and (max-width: 768px)
  {
	div.button-grid div
	{
	  padding: 1rem;
	  margin: 1rem 0;
	}
  }

  .slide-overlay-image p {
    font-size: 2rem;
    color: #236192;
  }

  .slide-overlay-message a {
    text-decoration: underline !important;

    &:not(:hover)
    {
      color: white !important;
    }
  }

  .card-component
  {
    margin: 0!important;
  }
}

.slick-slide.double-slide
{
  .slide-overlay-container
  {
	&:hover
	{
	  .slide-image img
	  {
		filter: brightness(85%);
		-webkit-filter: brightness(85%);
	  }
	}
  }

  .slide-overlay-image
  {
    max-width: 70%;
    left: unset;
    right: 4%;

    .slide-image img
    {
      transition: 0.2s ease-out;
    }

    p.slug
    {
      margin-bottom: 0;
	  padding-bottom: 0;
      color: #00a9e0;
      font-size: 1.25rem;
      text-transform: uppercase;
      font-weight: 700;
      padding-top: 0.5rem;

	  @media only screen and (min-width: 768px)
	  {
		line-height: 0;
	  }

	  @media only screen and (max-width: 768px)
	  {
		display: none;
	  }
    }

	p.slide-point
	{
	  margin-top: 1rem;
	  padding-bottom: 0;
	  margin-bottom: 1rem;

	  a
	  {
		@media only screen and (min-width: 768px)
		{
		  font-size: 2rem;
		}

		color: #236192 !important;

		&:hover
		{
		  color: #236192 !important;
		  text-decoration: underline;
		}
	  }
	}
  }
}

div.button-grid
{
  margin: 0.5rem 0;

  div
  {
    background: #00a9e0;
    padding: 0.5rem 1rem;
	margin: 0.5rem 0;

	@media only screen and (min-width: 768px)
	{
	  @supports (display: grid)
	  {
		padding: 0 1rem;
		margin: 0;
	  }
	}

    &:hover
    {
      background: #236192;
      cursor: pointer;

      a
      {
        text-decoration: underline;
      }
    }

    h2
    {
      color: white;
	  font-size: 25px;
    }

    a
    {
      color: white;
	  text-transform: uppercase;
	  font-size: 17px;

      &:before
      {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        float: left;
        margin-right: 10px;
        margin-top: 1px;
      }
    }
  }
}

.card-component
{
  @media only screen and (max-width: 768px)
  {
	padding: 0 1rem;
  }

  a
  {
	background-color: #00a9e0 !important;
	color: #fff !important;
	padding: 5px 12px;
	letter-spacing: 0.25px;
	margin-top: 15px !important;
	display: inline-block;
	text-transform: uppercase;
	font-weight: 700;

	&:before
	{
	  content: '';
	  display: block;
	  width: 0;
	  height: 0;
	  border-left: 10px solid white;
	  border-top: 10px solid transparent;
	  border-bottom: 10px solid transparent;
	  float: left;
	  margin-right: 10px;
	  margin-top: 4px;
	}
  }

  &.card-component-theme-white
  {
	border: 0 !important;

	&:hover
	{
	  border: 0;

	  a
	  {
		text-decoration: underline !important;
	  }
	}
  }

  .card-component-padded {
	padding-top: 0;
	padding-left: 1.5rem;

	p
	{
	  line-height: 26px;
	  letter-spacing: 0.15px;
	  font-size: 17px;

	  span
	  {
		font-size: 21px;

		+br
		{
		  line-height: 2;
		}
	  }
	}
  }
}