@import url("https://fonts.googleapis.com/css?family=Lato:300");
@media only screen and (min-width: 768px) {
  #content {
    margin-bottom: 0; }

  div.header-image {
    position: relative; }
    div.header-image img {
      width: 100%;
      height: auto;
      padding: 0; }
    div.header-image div.header-overlay {
      position: absolute;
      top: 0;
      left: 0;
      padding: 0 1rem;
      width: 64%;
      background: rgba(230, 230, 230, 0.75); }
      div.header-image div.header-overlay h1 {
        font-weight: 300;
        font-size: 4rem; }
    div.header-image + * {
      clear: both; }

  @supports (display: grid) {
    div.button-grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 140px;
      grid-gap: 0.5rem; }
      div.button-grid div {
        background: #00a9e0; }
      div.button-grid div:last-child {
        grid-column: span 2; } }
  .slide-overlay-image p {
    font-size: 2rem;
    color: #236192; }

  .slide-overlay-message a {
    text-decoration: underline !important; }
    .slide-overlay-message a:not(:hover) {
      color: white !important; }

  .card-component {
    margin: 0 !important; } }
@media only screen and (max-width: 768px) {
  div.header-image img {
    display: none; } }
.slick-slide.double-slide .slide-overlay-image {
  max-width: 70%;
  left: unset;
  right: 4%; }
  .slick-slide.double-slide .slide-overlay-image .slide-image img {
    transition: 0.2s ease-out; }
  .slick-slide.double-slide .slide-overlay-image:hover .slide-image img {
    filter: brightness(85%);
    -webkit-filter: brightness(85%); }
  .slick-slide.double-slide .slide-overlay-image:hover p.slide-point {
    text-decoration: underline; }
  .slick-slide.double-slide .slide-overlay-image p.slug {
    line-height: 0;
    margin-bottom: 0;
    color: #00a9e0;
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-top: 0.5rem; }
  .slick-slide.double-slide .slide-overlay-image p.slide-point a {
    margin-top: 7px; }
    .slick-slide.double-slide .slide-overlay-image p.slide-point a:hover {
      text-decoration: underline; }

div.button-grid {
  margin: 0.5rem 0; }
  div.button-grid div {
    background: #00a9e0;
    padding: 0 1rem; }
    div.button-grid div:hover {
      background: #236192;
      cursor: pointer; }
      div.button-grid div:hover a {
        text-decoration: underline; }
    div.button-grid div h2 {
      color: white; }
    div.button-grid div a {
      color: white; }
      div.button-grid div a:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-left: 10px solid white;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        float: left;
        margin-right: 10px;
        margin-top: 1px; }

.card-component .card-component-padded {
  padding-top: 0;
  padding-left: 1.5rem; }
  .card-component .card-component-padded p {
    line-height: 26px;
    letter-spacing: 0.15px; }
    .card-component .card-component-padded p span {
      font-size: 20px; }
      .card-component .card-component-padded p span + br {
        line-height: 2; }
  .card-component .card-component-padded a {
    background-color: #00a9e0 !important;
    color: #fff !important;
    text-decoration: underline !important;
    padding: 5px 12px;
    letter-spacing: 0.25px;
    margin-top: 15px !important;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700; }
    .card-component .card-component-padded a:before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 10px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      float: left;
      margin-right: 10px;
      margin-top: 4px; }

/*# sourceMappingURL=index.css.map */
